<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>OKFEgypt, {{title}}</title>

    <!--link rel="stylesheet" href="/css/foundation.css"-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <style>
        .tweaked-margin1 {
            margin: 1em;
        }
        .tweaked-margin1_5 {
            margin: 1.5em;
        }
        
        body { 
            padding-top: 70px; 
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><span>OKF Egypt</span></a>
    </div>
    <div class="collapse navbar-collapse">
        <!--ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        </ul-->
        <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="http://eg.okfn.org/about-okfn-egypt/">About</a></li>
                <li><a href="https://www.facebook.com/okfnegypt">Facebook</a></li>
                <li><a href="https://twitter.com/OKFEgypt">Twitter</a></li>
                <li><a href="http://eg.okfn.org/">Blog</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
            </ul>
        </li>
        </ul>

    </div>
    </div>
</nav>

<div class="container">

	<div class="row">
		<div class="col-md-12">
		    <div class="tweaked-margin1">
			<h2>{{title}}</h2>
		    <p>
			     This is a collection of Data Visualisation tools and libraries.<br>
			     List is prepared by <a href="http://eg.okfn.org/">Open Knowledge Foundation, Egypt</a>.
			</p>
			<hr>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8" >
		
		    <div class="tweaked-margin1_5">
		    {{#sections}}  
			<h3>{{section}}</h3>
			<br/>
		    <div class="row">
		      <ul>
              {{#items}}
			     <li>{{name}}: <a href="{{url}}">{{url}}</a></li>
			  {{/items}}
			  </ul>    
			</div>   
			<hr/>  
			{{/sections}}
			</div>
			
        </div>
        
        <div class="col-md-4">
        
            <div class="tweaked-margin1_5">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FOKFNEgypt&amp;width=200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=31680207703" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:290px;" allowTransparency="true"></iframe>
            </div>
            
        </div>
        
    </div>
</div>

</body>
</html>